<div id="display">I'm a display</div>

<div id="wand">I'm a wand</div>


<%= javascript_include_tag "helpers.js" %>
<%= javascript_include_tag "sound_board.js" %>
<%= javascript_include_tag "trigger.js" %>
<%= javascript_include_tag "display.js" %>
<%= javascript_include_tag "main.js" %>
